button > a {
  color: white !important;
}

button > a:hover {
  color: white !important;
  text-decoration: none !important;
}

.card-action-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card {
  display: inline-flex !important;
  margin-right: 5%;
  margin-top: 5%;
}

.spinner-border {
  margin-left: 50%;
  margin-top: 15%;
}

.nasaFetchText {
  margin-left: 40%;
}
