button > a {
  color: white !important;
}

button > a:hover {
  color: white !important;
  text-decoration: none !important;
}

.card-action-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.card {
  display: inline-flex !important;
  margin-right: 5%;
  margin-top: 5%;
}

.spinner-border {
  margin-left: 50%;
  margin-top: 15%;
}

.nasaFetchText {
  margin-left: 40%;
}

li.comment {
  display: flex;
  justify-content: space-around;
}

ul {
  display: block;
}

form {
  text-align: center;
}
